body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
.menu > ul ul {
  display: none;
}

/* 사이드바의 너비와 높이를 변수를 통해 통제 */
:root {
  --menu-width: 150px;
  /* --menu-height: ; */
}

.menu {
  position: fixed; /* 스크롤을 따라오도록 지정 */
  background-color: white;
  width: var(--menu-width);
  min-height: 100vh; /* 사이드바의 높이를 전체 화면 높이의 90%로 지정 */
  /* 사이드바 위와 아래의 마진을 동일하게 지정 */
}

/* 모든 메뉴의 a에 속성값 부여 */
.menu ul > li > a {
  display: block;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  /* padding: 20px; */
  border: 1px solid #555;
}
/* 자식의 position이 absolute일 때 자식을 영역 안에 가두어 준다 */
.menu > ul > li {
  position: relative;
}

/* 모든 메뉴가 마우스 인식 시 반응 */
.menu ul > li:hover > a {
  background-color: #555;
  border-bottom: 1px solid #999;
  height: 100%;
}

/* 1차 메뉴의 항목이 마우스 인식 시에 2차 메뉴 등장 */
.menu > ul > li:hover > ul {
  display: block;
  position: absolute;
  background-color: #888;
  top: 0; /* 2차 메뉴의 상단을 1차 메뉴의 상단에 고정 */
  left: 100%; /* 2차 메뉴를 1차 메뉴의 너비만큼 이동 */
  width: 100%; /* 1차 메뉴의 너비를 상속 */
}
/* 사이드바 너비의 80%만큼 왼쪽으로 이동 */
