/* global colors */
:root {
  --white: #ffffff;
  --black: #141414;
  --grey: #595f72;
}

/* fonts */
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Medium.otf") format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-SemiBold.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-ExtraBold.otf") format("opentype");
  font-weight: 800;
}

body {
  font-family: "Pretendard";
  font-weight: 400;
  height: 100%;
  margin: 0px;
}

a {
  text-decoration: none;
}


.carousel-inner img {
    height: 350px;
    width: auto; /* 이미지의 원본 비율 유지 */
    max-width: 100%; /* 이미지가 캐러셀 너비를 넘지 않도록 함 */
    object-fit: contain; /* 이미지를 컨테이너에 맞추면서 비율 유지 */
}
.carousel-item {
    height: 350px;
    text-align: center; /* 이미지를 수평 중앙 정렬 */
}
.carousel-inner {
    display: flex;
    align-items: center; /* 이미지를 수직 중앙 정렬 */
}
